@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    background-color: rgb(1, 35, 12);
}

.container{
    display: flex;
    border-radius: 6px;
    width: 75vw;
}

.containerForm{
    display: grid;
    padding: 2vw;
    background-color: rgb(223, 222, 224);
}

.containerImage{
    width: 500px;
    justify-items: center;
    justify-content: center;
}

.containerImage>img{
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
}

.App {
    display: flex;
    flex-direction: column;
}

label{
    padding: 1vh;
}

input,select{
    border: none;
    border-radius: 20px;
    padding: 10px;
}
