@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    background-color: rgb(1, 35, 12);
}